<style>
	h3 img {
	  border-radius: 50%;
	}
</style>

<title>About the Author</title>
<h3><img src="static/images/headshot.png" alt='headshot' height='50' width='50'/> Hello my name is Charlie</h3>
<p>I am a Bioinformatics Analyst in the Ward group at The Scripps Research Institute, where I work to provide robust bioinformatics solutions to members of the lab.<br><br>In my previous position in the Hatfull Lab at the University of Pittsburgh as the SEA-PHAGES Informatics Coordinator I worked to support the Howard Hughes Medical Institute's SEA-PHAGES program.</p>
<hr>
<h3><img src="static/images/mojo.jpg" alt='dog' height='50' width='50'/> About Me</h3>
<p>Outside of my professional interests, I enjoy spending time with my dog (pictured), camping, cooking, games, hiking, exploring, fishing, reading, and travel amongst a host of other activities. Some recent personal achievements include moving to sunny Southern California, scaling Mount Batur in Bali for a sunrise, navigating Singapore with food poisoning, and driving an SUV around on safari in South Africa.</p>
<hr>
<h3><img src="static/images/phage.jpg" alt='headshot' height='50' width='50'/> Starting Out</h3>
<p>I started my work in the sciences as a high school junior through outreach programs at the Hatfull Lab at the University of Pittsburgh. My passion for the sciences was ignited as I isolated and characterized the novel bacteriophage (virus that infects bacteria) Chah throughout high school and into the start of my college career at the University of Pittsburgh.</p>
<hr>
<h3><img src="static/images/cath.jpg" alt='pitt' height='50' width='50'/> Education</h3>
<p>I obtained a Bachelor's degree in Microbiology with minors in computer science and chemistry at the University of Pittsburgh. I was extremely active in research as a member of the Hatfull Lab for my entire schooling duration - working as a mentor to other students in the lab while working on my own independent research projects with other lab members. In my junior year, my dedication to research earned me an Arnold and Mabel Beckman Scholar grant, which funded my position in the lab and allowed me to pursue my research regarding bacteriophage host range. I went on to pursue a Masters of Science in Information Science at the University of Pittsburgh.  My graduate classes focused on data driven development, visualization, and analytics, and have greatly expanded my bioinformatics skillset.</p>
<hr>
