<link href="lib/lou-multi-select/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">

<h4>Anchor</h4>
<hr>
<div id="dsf">
	<h5>Data Submit Form</h5>
	<p>Upload a fasta alignment</p>
	<input type='file' id='file' accept='.fasta'/>
	<br>
	<input type='button' id='submit' value='Submit'/><input type='button' id='clear' value='Clear Graph'/>
	<hr>
</div>
<div id='dpf' style="display:none">
	<h5>Data Preprocessing Form</h5>
	<p>Select pivot residues:</p><select multiple="multiple" id='dpfs' name='dpfs[]'></select>
	<input type='button' id='continue' value='Continue'/>
	<p>These residues are what is used to filter out non-matching tracks.  All tracks included in the output calculations mus have these exact residues present.</p>
    <p>Total alignment tracks: <a id='ta'/></p>
    <p>Tracks passing pivot filter: <a id='tapf'/></p>
    <hr>
</div>
<div id='dff' style="display:none">
    <h5>Data Fetching Form</h5>
    <p>Select sequences to export: (all are selected by default)</p><select multiple='multiple' id='dffs' name='dffs[]'></select>
    <input type='button' id='export' value='Export to CSV'/>
    <p>Results will be summarized and transferred to you.</p>
    <hr>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="lib/fasta-parser.min.js"></script>
<script src="js/Helpers/anchor.js"></script>
<script src="lib/lou-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
<script>
	
</script>