<div class="container" ng-controller="blogCtrl">
  <h3>Submit a Blog Post</h3>
  <hr>
  <form ng-submit='save(entry)'>
    <input type='text' class="form-control input-lg" ng-model='entry.blogTitle' placeholder='Blog Title' required/><br>
    <input type='text' class="form-control input-lg" ng-model="entry.blogID" placeholder="Blog Identifier" required/><br>
    <input type='text' class="form-control input-lg" ng-model='entry.blogDesc' placeholder='Blog Description' required/><br>
    <input type='text' class="form-control input-lg" ng-model='entry.blogPic' placeholder='Blog Picture Static URL' required/><br>
    <textarea rows="3" class="form-control input-lg" placeholder="Enter Blog Content" ng-model="entry.blogContent" required></textarea><br>
    <input type='submit' id='submit' class="btn btn-success" value='Submit'/>
  </form>

  <br>

  <div class="alert alert-info text-center" ng-hide="blogs.length > 0">
      <h3>No Posts yet!</h3>
  </div>
  
  <table class="table table-hover blogs" ng-hide="blogs.length < 1">
  	<thead>
  	<th>Blog ID</th>
  	<th>Blog Title</th>
  	<th>Blog Description</th>
    <th></th>
  	</thead>
  	<tbody>
	  	<tr ng-repeat="blog in blogs | object2Array | orderBy:'blogDate':true">
  			<td>{{blog.blogID}}</td>
  			<td>{{blog.blogTitle}}</td>
        <td>{{blog.blogDesc}}
        <td><input type="button" class="btn btn-danger btn-block" value="Delete" ng-click="delete(blog)"></input></td>
  		</tr>
  	</tbody>
	</table>

</div>

<hr>

<h5>Charles Bowman - April 6th, 2015</h5>