<style>
	td img {
	  border-radius: 50%;
	}
</style>

<title>Project Blog - www.chazbot.com</title>

<h3>Project Blog<br><small>Here you will find a listing of my noteworthy projects, as well as working prototypes when applicable.  Click a title to see details!</small></h3>
<hr>

<div class="container" ng-controller="blogCtrl">
  <table class="table blogs">
    <tbody>
      <tr ng-repeat="blog in blogs">
      	<td width='75px'><img src='{{blog.blogPic}}' height='75' width='75'/>
        <td><a href="#/blogs/{{blog.blogID}}"><h4><Strong>{{blog.blogTitle}}</Strong></h4></a>
        <p>{{blog.blogDesc}}</p></td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<h5>Charles Bowman - April 6th, 2015</h5>