<style>

svg {
  font: 10px sans-serif;
}

:disabled {
	opacity:.5;
}

.area {
  fill: steelblue;
  opacity:.8;
  clip-path: url(#clip);
}

.area2 {
  fill: firebrick;
  opacity:.8;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.focus1 circle {
  fill: none;
  stroke: steelblue;
}

.focus2 circle {
  fill: none;
  stroke: firebrick;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.overlay {
  fill: none;
  pointer-events: all;
}

</style>
<title>Expression Data Viewer</title>
<h3>Expression Data Viewer</h3>
<h5>This viewer is configured to work with expression data in a .csv file with column headers "base", "plus", and "minus".  Fill out the form below to continue.  You can modify axis scales after plotting with the bottom form.  This viewer was implemented using <a href='http://d3js.org/'>d3.js</a> based on examples from the <a href='https://github.com/mbostock/d3/wiki/Gallery'>d3.js example wiki</a>.</h5>
<hr>
<h4>Data Submit Form</h4>
<input type='text' id="jobTitle" class="form-control input-md" placeholder='Dataset Title' />
<br>
<form id="scaleRadio">
	<label class='radio-inline'>Graph Scale:</label>
	<label class="radio-inline"><input type="radio" name="optradio" value='lin' checked="checked">Linear</label>
	<label class="radio-inline"><input type="radio" name="optradio" value='log'>Logarithmic</label>
</form>
<br>
<input type='file' id='file' accept='.csv'/>
<br>
<input type='button' id='submit' value='Submit'/><input type='button' id='clear' value='Clear Graph'/>
<hr>
<h4>Post-Rending Graph Adjustments</h4>
<div class="row">
	<div class="col-xs-2"><h5>Fix X Axis:</h5></div>
	<div class="col-xs-4">
		<input type='number' id="x_left" class="form-control input-md" min="1" placeholder='x-axis lower limit' />
	</div>
	<div class="col-xs-4">
		<input type='number' id="x_right" class="form-control input-md" min="1" placeholder='x-axis upper limit' />
	</div>
	<div class="col-xs-2">
		<input type='button' class="btn btn-span btn-primary" id='adjX' value='Adjust X Axis'/>
	</div>
</div>
<div class="row">
	<div class="col-xs-2"><h5>Adjust Y Axis Upper Limit:</h5></div>
	<div class="col-xs-8"><input type='number' id="upperLimit" class="form-control input-md" min="1" placeholder='y-Axis upper limit' /></div>
	<div class="col-xs-2"><input type='button' class="btn btn-span btn-primary" id='adjY' value='Adjust Y Axis'/></div>
</div>
<hr>
<div id='svghere'/>
<hr>
<footer>
	<h6>Made using <a href='http://d3js.org/'>d3.js</a>.  Based on examples from the d3.js <a href='https://github.com/mbostock/d3/wiki/Gallery'>example wiki</a>.  Charles Bowman - 20150423</h6>
</footer>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

(function ($) {

    // DOM Element
    var $fileInput = $('#file'),
        $submitBtn = $('#submit'),
        $clearBtn = $('#clear');
 
    var onClear = function (e) {
    	$("svg").remove();
    	$submitBtn.prop("disabled", false);
    }

    // On upload
    var onUpload = function (e) {
        e.preventDefault();
        $("#submit").prop("disabled",true);
 
        // Validate is file
        var fileList = $fileInput.get(0).files;
        if (fileList.length === 0) {
            fail('You must select a file');
        }
 
        // Validate is CSV
        var file = fileList[0];
        if (file.type !== 'text/csv') {
            fail('Uploaded file must be a RFC4180-compliant CSV file');
        }
 
        // Init file reader
        var fileReader = new FileReader();
        fileReader.onload = function (e) {
            showData(d3.csv.parse(fileReader.result, type));
        };
        fileReader.onerror = function (e) {
            throw 'Error reading CSV file';
        };
 
        // Start reading file
        fileReader.readAsText(file);
    };
 
    // Process CSV
    var showData = function (csvData) {
        
        var $scaleBtn = $('input[name=optradio]:checked', '#scaleRadio').val(),
        $title = $('#jobTitle').val(),
        $adjXButton = $('#adjX'),
        $adjYButton = $('#adjY');

        var data = csvData;

        var margin = {top: 10, right: 10, bottom: 100, left: 50},
				    margin2 = {top: 430, right: 10, bottom: 20, left: 50},
				    width = $(".container").width() - margin.left - margin.right,
				    height = 500 - margin.top - margin.bottom,
				    height2 = 500 - margin2.top - margin2.bottom;

				var bisectBase = d3.bisector(function(d) { return d.base; }).left;

				var x = d3.scale.linear().range([0, width]),
				    x2 = d3.scale.linear().range([0, width]);
				    

				if ($scaleBtn == 'log'){
					var y = d3.scale.log().clamp(true).range([height, 0]),
					y2 = d3.scale.log().clamp(true).range([height2, 0]);
				} else {
					var y = d3.scale.linear().range([height, 0]),
					y2 = d3.scale.linear().range([height2, 0]);;
				}

				var xAxis = d3.svg.axis().scale(x).orient("bottom"),
				    xAxis2 = d3.svg.axis().scale(x2).orient("bottom"),
				    yAxis = d3.svg.axis().scale(y).orient("left");

				var brush = d3.svg.brush()
				    .x(x2)
				    .on("brush", brushed);

				var area = d3.svg.area()
				    .interpolate("monotone")
				    .x(function(d) { return x(d.base); })
				    .y0(height)
				    .y1(function(d) { return y(d.plus); });

				var area2 = d3.svg.area()
				    .interpolate("monotone")
				    .x(function(d) { return x2(d.base); })
				    .y0(height2)
				    .y1(function(d) { return y2(d.plus); });

				var area3 = d3.svg.area()
				    .interpolate("monotone")
				    .x(function(d) { return x(d.base); })
				    .y0(height)
				    .y1(function(d) { return y(d.minus); });

				var area4 = d3.svg.area()
				    .interpolate("monotone")
				    .x(function(d) { return x2(d.base); })
				    .y0(height2)
				    .y1(function(d) { return y2(d.minus); });

				var svg = d3.select("#svghere").append("svg")
				    .attr("width", width + margin.left + margin.right)
				    .attr("height", height + margin.top + margin.bottom);

				svg.append("defs").append("clipPath")
				    .attr("id", "clip")
				  .append("rect")
				    .attr("width", width)
				    .attr("height", height);

				var focus = svg.append("g")
				    .attr("class", "focus")
				    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

				var focus1 = svg.append("g")
				      .attr("class", "focus1")
				      .style("display", "none");

				focus1.append("text")
				    .attr("x", 9)
				    .attr("dy", ".35em");

				var focus2 = svg.append("g")
				      .attr("class", "focus2")
				      .style("display", "none");

				focus2.append("text")
				    .attr("x", 9)
				    .attr("dy", ".35em");

				var focus3 = svg.append("g")
							.attr("class", "focus3")
							.style("display", "none");

				focus3.append("line")
						.attr("y1", 0 + margin.top)
						.attr("y2", height + margin.top)
						.style("stroke", "grey")
			      .style("stroke-width", "1");

				var context = svg.append("g")
				    .attr("class", "context")
				    .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

				function adjX(){

					xLeft = parseInt($("#x_left").val());
					xRight = parseInt($("#x_right").val());

					console.log(xLeft);
					console.log(xRight);

					//If there are two numbers
					if (xLeft && xRight) {

						//Test block for bad cases
						if (xLeft >= xRight){
							alert("Left should be less than right!")
							return;
						} else if (xLeft < x2.domain()[0] || xRight > x2.domain()[1]) {
							alert("Values should be within data bounds.")
							return;
						}

						brush.extent([xLeft, xRight]);
						svg.selectAll(".brush").call(brush);

					  //d3.selectAll(".brush").call(brush.clear());

						x.domain([xLeft, xRight]);
						focus.select(".x.axis").call(xAxis);

						focus.select(".area").attr("d", area);
					  focus.select(".area2").attr("d", area3);

					} else {
						alert("You must enter a numerical left and right cutoff");
						return;
					}
				}

				function adjY(){

					upperLimit = parseInt($('#upperLimit').val());

					if (upperLimit > 0){
						if ($scaleBtn == 'log'){
				  		y.domain([1, parseInt(upperLimit)]);
				  	} else {
				  		y.domain([0, parseInt(upperLimit)]);
				  	}

				  	focus.select(".y.axis").call(yAxis);
						focus.select(".area").attr("d", area);
					  focus.select(".area2").attr("d", area3);
				  	

				  } else {
				  	alert("Enter number greater than 0 for y axis!");
				  }
				}

				function brushed() {
				  x.domain(brush.empty() ? x2.domain() : brush.extent());
				  focus.select(".area").attr("d", area);
				  focus.select(".area2").attr("d", area3);

				  /*var dataFilteredPlus = data.filter(function(d, i) {
				    if ( (d.base >= x.domain()[0]) && (d.base <= x.domain()[1]) ) {
				      return d.plus;
				    }
				  });
				  var dataFilteredMinus = data.filter(function(d, i) {
				    if ( (d.base >= x.domain()[0]) && (d.base <= x.domain()[1]) ) {
				      return d.minus;
				    }
				  });

				  yPlus = d3.max(dataFilteredPlus.map(function(d) { return d.plus; }));
					yMinus = d3.max(dataFilteredMinus.map(function(d) { return d.minus; }));

				  y.domain([0, Math.max(yPlus, yMinus)]);*/

				  focus.select(".x.axis").call(xAxis);
					//focus.select(".y.axis").call(yAxis);
				}

				yPlus = d3.max(data.map(function(d) { return d.plus; }));
				yMinus = d3.max(data.map(function(d) { return d.minus; }));

			  x.domain(d3.extent(data.map(function(d) { return d.base; })));
			  
			  if ($scaleBtn == 'log'){
		  		y.domain([1, Math.max(yPlus, yMinus)]);
		  	} else {
		  		y.domain([0, Math.max(yPlus, yMinus)]);
		  	}

			  x2.domain(x.domain());
			  y2.domain(y.domain());

			  focus.append("path")
			      .datum(data)
			      .attr("class", "area")
			      .attr("d", area);

			  focus.append("path")
			      .datum(data)
			      .attr("class", "area2")
			      .attr("d", area3);

			  focus.append("g")
			      .attr("class", "x axis")
			      .attr("transform", "translate(0," + height + ")")
			      .call(xAxis)
			      .append("text")
				      .attr("class", "label")
				      .attr("x", width)
				      .attr("y", 25)
				      .style("text-anchor", "end")
				      .text("Position (bp)");

			  focus.append("g")
			      .attr("class", "y axis")
			      .call(yAxis)
			      .append("text")
				      .attr("transform", "rotate(-90)")
				      .attr("y", 6)
				      .attr("dy", ".71em")
				      .style("text-anchor", "end")
				      .text("Read Depth (#)");
				
				svg.append("text")
							.attr("x", margin.right + width/2)
							.attr("y", margin.top + 13)
			        .attr("text-anchor", "center")  
			        .style("font-size", "16px")  
			        .text($title);

			  context.append("path")
			      .datum(data)
			      .attr("class", "area")
			      .attr("d", area2);

			  context.append("path")
			      .datum(data)
			      .attr("class", "area2")
			      .attr("d", area4);

			  context.append("g")
			      .attr("class", "x axis")
			      .attr("transform", "translate(0," + height2 + ")")
			      .call(xAxis2);

			  context.append("g")
			      .attr("class", "x brush")
			      .call(brush)
			    .selectAll("rect")
			      .attr("y", -6)
			      .attr("height", height2 + 7);

			  svg.append("rect")
			      .attr("class", "overlay")
			      .attr("width", width)
			      .attr("height", height)
			    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
			      .on("mouseover", function() { focus1.style("display", null); focus2.style("display", null); focus3.style("display", null); })
			      .on("mouseout", function() { focus1.style("display", "none");  focus2.style("display", "none"); focus3.style("display", "none");})
			      .on("mousemove", mousemove);

			  function mousemove() {
				  var x0 = x.invert(d3.mouse(this)[0]),
				      i = bisectBase(data, x0, 1),
				      d0 = data[i - 1],
				      d1 = data[i],
				      d = x0 - d0.base > d1.base - x0 ? d1 : d0;
				  focus1.attr("transform", "translate(" + (width/2 + margin.right) + "," + (22 + margin.top) + ")");
				  focus1.select("text").attr("text-anchor", "center").text("Plus: " + d.plus);

				  focus2.attr("transform", "translate(" + (width/2 + margin.right) + "," + (33 + margin.top) + ")");
				  focus2.select("text").attr("text-anchor", "center").text("Minus: " + d.minus);

				  focus3.select("line")
				  	.attr("x1", x(d.base) + margin.left)
						.attr("x2", x(d.base) + margin.left);
				}

				$adjXButton.on('click', adjX);
				$adjYButton.on('click', adjY);

    };

    var type = function (d) {
		  d.base = +d.base;
		  d.plus = +d.plus;
		  d.minus = +d.minus;
		  return d;
		}
 
    // Bind upload button
    $submitBtn.on('click', onUpload);
    $clearBtn.on('click', onClear);
})(jQuery);

</script>