<title>GC Content Calculator - www.chazbot.com</title>

<h3>GC Content Calculator<br><small>This GC content calculator will read either FASTA or plain DNA sequences with no degenerate nucleotides.  Your sequence data is not stored!  Session-based results are in the works.</small></h3>
<hr>

<div class="container" ng-controller="gcCtrl">
  <div>
    <textarea rows="1" class="form-control input-lg" placeholder="Enter a Sequence" ng-keypress="save($event)" ng-model="gcInput"></textarea>
  </div><div class="alert alert-info text-center" ng-hide="gcs.length > 0">
      <h3>No Results yet!</h3>
    </div>
  <table class="table table-hover gcs" ng-hide="gcs.length < 1">
  	<thead>
  	<th>Identifier</th>
  	<th>Length (bp)</th>
  	<th>GC %</th>
  	<th></th>
  	</thead>
  	<tbody>
	  	<tr ng-repeat="gc in gcs">
  			<td>{{gc.header}}</td>
  			<td>{{gc.length}}</td>
  			<td>{{gc.percent}}</td>
  		</tr>
  	</tbody>
	</table>
</div>
<hr>
<footer>
  <h6>Charles Bowman - 20150423</h6>
</footer>
  
  <!--<div class="row-fluid gcs">
    <div class="alert alert-info text-center" ng-hide="gcs.length > 0">
      <h3>No Results yet!</h3>
    </div>
    <div ng-repeat="gc in gcs">
      <div class="col-md-7 col-sm-7 col-xs-7">
        <span ng-show="!isEditable[$index]">{{gc.gc}}</span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <span ng-show="!isEditable[$index]">{{gc.gc}}</span>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <input type="button" class="btn btn-danger btn-block" value="Delete" ng-click="delete($index)" />
      </div>
    </div>
  </div>
</div>

