<title>Charles Bowman - www.chazbot.com</title>
<h3>Welcome to my Website<br><small>This website is a working example of MEAN stack development.  Navigate using the left panel.</small></h3>
<hr>
<footer>
  <h6>Charles Bowman - 20150423</h6>
</footer>