/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 /* Modified by Charles Bowman for use at www.chazbot.com */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #00AB66;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    -webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.75);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 60px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #333;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*additional Styling*/
#sidebar-wrapper hr {
  margin: 0 0;
}
#sidebar-wrapper img {
  border-radius: 50%;
}

#sidebar-toggle {
    z-index: 2000;
    position: fixed;
    left: 250px;
    width: 20px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #00AB66;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-toggle:hover{
  -webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.75);
}

#wrapper.toggled #sidebar-toggle:hover{
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
}

#wrapper.toggled #sidebar-toggle {
    left: 270px;
    margin-left:-20px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left:solid thin #FFF;
}
#sidebar-toggle .glyphicon {
  margin-top:2px;
  margin-right:3px;
  color:white;
}

/*
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #wrapper.toggled #sidebar-toggle {
      left: 270px;
      margin-left:-20px;
      border-right: none;
      border-top: none;
      border-bottom: none;
      border-left:solid thin #FFF;
    }
    #sidebar-toggle {
      z-index: 2000;
      position: fixed;
      left: 270px;
      width: 20px;
      height: 100%;
      margin-left: -20px;
      overflow-y: auto;
      background: #0BDA51;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
}*/